.banner {
  height: 10vh;
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
}

.login-button button {
  border: none;
  border-radius: 4px;
  padding: 4px;
  font-size: 1em;
  cursor: pointer;
  background-color: #fff;
}

.login-button button:hover {
  background-color: #ddd;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container button {
  padding: 4px 28px;
  font-size: 20px;
  cursor: pointer;
}